{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130516350-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-130516350-2');
    </script>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="Filter a database of pride flags by color, number of stripes, and special shapes. This ever growing list will help you identify and learn about flags you see at pride festivals and in the lesbian, gay, bisexual, and transgender community.">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'search/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'search/css/citation.css' %}" />
    <link rel="stylesheet" href="{% static 'search/css/filters.css' %}" />
    <title>Pride Flag Identification Guide</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-brand">Pride Flag Identification Guide</div>
<!--             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
<!--             <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">2018 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div> -->
        </nav>
    </header>
    
    <main role="main" class="container">
            <h1>
                Filter Flags
            </h1>
            <p class="lead">
                Select filters below to search for flags. Search results will update automatically.
            </p>
        <div class="row">
            <div class="col-md-12 col-lg-4">
                Colors
                <div id="colorFilter">
                    <div class="row">
                        <div class="col-6 col-sm-3 col-lg-6">
                            <label>
                                <input type="checkbox" value="red">
                                <svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:red;stroke-width:1;stroke:rgba(0, 0, 0, .5)" />
                                </svg>
                                <div class="color-text">
                                    Red
                                </div>
                            </label>
                        </div>
                        <div class="col-6 col-sm-3 col-lg-6">
                            <label>
                                <input type="checkbox" value="orange">
                                <svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:orange;stroke-width:1;stroke:rgba(0, 0, 0, .5)" />
                                </svg>
                                <div class="color-text">
                                    Orange
                                </div>
                            </label>
                        </div>
                        <div class="col-6 col-sm-3 col-lg-6">
                            <label>
                                <input type="checkbox" value="yellow">
                                <svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:yellow;stroke-width:1;stroke:rgba(0, 0, 0, .5)" />
                                </svg>
                                <div class="color-text">
                                    Yellow
                                </div>
                            </label>
                        </div>
                        <div class="col-6 col-sm-3 col-lg-6">
                            <label>
                                <input type="checkbox" value="green">
                                <svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:green;stroke-width:1;stroke:rgba(0, 0, 0, .5)" />
                                </svg>
                                <div class="color-text">
                                    Green
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-lg-6">
                            <label>
                                <input type="checkbox" value="blue">
                                <svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:blue;stroke-width:1;stroke:rgba(0, 0, 0, .5)" />
                                </svg>
                                <div class="color-text">
                                    Blue
                                </div>
                            </label>
                        </div>
                        <div class="col-6 col-sm-3 col-lg-6">
                            <label>
                                <input type="checkbox" value="purple">
                                <svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:purple;stroke-width:1;stroke:rgba(0, 0, 0, .5)" />
                                </svg>
                                <div class="color-text">
                                    Purple
                                </div>
                            </label>
                        </div>
                        <div class="col-6 col-sm-3 col-lg-6">
                            <label>
                                <input type="checkbox" value="pink">
                                <svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:pink;stroke-width:1;stroke:rgba(0, 0, 0, .5)" />
                                </svg>
                                <div class="color-text">
                                    Pink
                                </div>
                            </label>
                        </div>
                        <div class="col-6 col-sm-3 col-lg-6">
                            <label>
                                <input type="checkbox" value="black">
                                <svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:black;stroke-width:1;stroke:rgba(0, 0, 0, .5)" />
                                </svg>
                                <div class="color-text">
                                    Black
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-lg-6">
                            <label>
                                <input type="checkbox" value="grey">
                                <svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:grey;stroke-width:1;stroke:rgba(0, 0, 0, .5)" />
                                </svg>
                                <div class="color-text">
                                    Grey
                                </div>
                            </label>
                        </div>
                        <div class="col-6 col-sm-3 col-lg-6">
                            <label>
                                <input type="checkbox" value="white">
                                <svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:white;stroke-width:1;stroke:rgba(0, 0, 0, .5)" />
                                </svg>
                                <div class="color-text">
                                    White
                                </div>
                            </label>
                        </div>
                        <div class="col-6 col-sm-3 col-lg-6">
                            <label>
                                <input type="checkbox" value="brown">
                                <svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:brown;stroke-width:1;stroke:rgba(0, 0, 0, .5)" />
                                </svg>
                                Brown
                            </label>
                        </div>
                        <div class="col-6 col-sm-3 col-lg-6">
                            <label>
                                <input type="checkbox" value="tan">
                                <svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:tan;stroke-width:1;stroke:rgba(0, 0, 0, .5)" />
                                </svg>
                                <div class="color-text">
                                    Tan
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <label for="stripesFilter">Stripes</label>
                <div>
                    <input id="stripesFilter" type="number" step="1" min="0" />
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <label for="shapesFilter">Special Shapes</label>
                <div>
                    <select id="shapesFilter">
                        <option value="ignore">Any Shapes</option>
                        <option value="true">Has Shapes</option>
                        <option value="false">No Shapes</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <div>
            <h2>
                Search Results
            </h2>
            <p>
                <span id="resultsCount"></span> <span id="resultsWord"></span> found.
            </p>
            <div id="searchResults"></div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <span class="text-muted"> 
                <p>
                    This is an open source project managed by Brynne Farrell <a href="mailto:brynne.farrell@gmail.com" target="_blank">brynne.farrell@gmail.com</a>.
                </p>
                <p>
                    Licensed under the GNU General Public License v3.0. Code and flag list last updated 2019/01/01.
                </p>
                <p>
                    <a href="https://github.com/brynne-farrell/prideflagsearch" target="_blank">Contribute to this project on GitHub</a>
                </p>
            </span>
        </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=" crossorigin="anonymous"></script>
    <script src="{% static 'search/js/collectdata.js' %}" type="text/javascript"></script>
    <script src="{% static 'search/js/citations.js' %}" type="text/javascript"></script>
    <script src="{% static 'search/js/search.js' %}" type="text/javascript"></script>
</body>

</html>