{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'search/css/squares.css' %}" />
    <title>Pride Flag Identification Guide</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-brand">Pride Flag Identification Guide</div>
<!--             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
<!--             <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">2018 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div> -->
        </nav>
    </header>
    
    <main role="main" class="container">
            <h1>
                Filter Flags
            </h1>
            <p class="lead">
                Select filters below to search for flags. Search results will update automatically.
            </p>
        <div class="row">
            <div class="col-md-12 col-lg-4">
                Colors
                <div id="colorFilter">
                    <label><input type="checkbox" value="red"><span class="square red"></span></label>
                    <label><input type="checkbox" value="orange"><span class="square orange"></span></label>
                    <label><input type="checkbox" value="yellow"><span class="square yellow"></span></label>
                    <label><input type="checkbox" value="green"><span class="square green"></span></label>
                    <label><input type="checkbox" value="blue"><span class="square blue"></span></label>
                    <label><input type="checkbox" value="purple"><span class="square purple"></span></label>
                    <label><input type="checkbox" value="pink"><span class="square pink"></span></label>
                    <label><input type="checkbox" value="black"><span class="square black"></span></label>
                    <label><input type="checkbox" value="grey"><span class="square grey"></span></label>
                    <label><input type="checkbox" value="white"><span class="square white"></span></label>
                    <label><input type="checkbox" value="brown"><span class="square brown"></span></label>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                Stripes
                <div>
                    <input id="stripesFilter" type="number" step="1" min="0"></input>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                Special Shapes
                <div>
                    <select id="shapesFilter">
                        <option value="ignore">---</option>
                        <option value="true">Has Shapes</option>
                        <option value="false">No Shapes</option>
                    </select>
                </div>
            </div>
        <!-- TODO: write fuzzy match code-->
<!--             <div class="col-md-12 col-lg-3">
                Fuzzy Matches
                <input type="checkbox"></input>
            </div> -->
        </div>
        <hr />
        <div id="searchResults">
            
        </div>
    </main>
<!-- TODO: add sticky footer back-->
<!--     <footer class="footer">
      <div class="container">
        <span class="text-muted"> <p>This code &copy; Brynne Farrell <a href="mailto:brynne.farrell@gmail.com" target="_blank">brynne.farrell@gmail.com</a>. Code last updated 2018/12/04.</p></span>
      </div>
    </footer> -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=" crossorigin="anonymous"></script>
    <script src="{% static 'search/js/collectdata.js' %}" type="text/javascript"></script>
    <script src="{% static 'search/js/search.js' %}" type="text/javascript"></script>
</body>

</html>