{% extends 'search/base.html' %}

{% block content %}
<h2>Privacy Policy</h2>
<p>This isn't a legal document, but as briefly as possible: prideflags.org does not collect any information about you and does not care to. It does not use trackers or analytics services and does not collect IP addresses, browser information, or device models.</p>
<p>However, the hosting provider for prideflags.org (DigitalOcean) and their third parties might. You'll need to reach out to them for information about what they and their third parties collect from site visitors.</p>
{% endblock %}