.flag-col {
    position: relative;
}

.citation-reveal {
    padding-top: 0.5em;
}

.citation-reveal span{
    color: blue;
    position: relative;
    bottom: 0;
    padding-top: 1.5em;
}

.jx-citation-row {
    background: white;
    min-height: 10em;
}