.flag-col {
    position: relative;
    padding-bottom: 2em;
}

.citation-reveal span{
    color: blue;
}

.citation-reveal {
    position: absolute;
    bottom: 0;
    height: 2em;
}

.jx-citation-row {
    background: white;
    min-height: 10em;
    z-index: 100000;
}