/* .color-text {
    display: inline;
} */

.filter-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default */
.filter-card {
    box-sizing: border-box;
    width: calc(100% / 3);
    background-color: white;
    border-radius: 2px;
    padding: 0.5em;
}

.color-card-container {
/*     width: 33%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
/*     justify-content: center; */
/*     align-content: flex-start; */
/*     align-items: stretch; */
    background-color: white;
    border-radius: 2px;
    max-height: 120px;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default */
.color-card {
    box-sizing: border-box;
    width: 49%;
    max-height: 20px;
/*     padding: 0.5em; */
/*     display: inline; */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .color-card {
/*         width: 23%; */
/*         margin: 0 1% 2em 1%; */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}