.navbar {
    background-color: #343a40;
    margin: 0 0 1rem 0;
}

.navbar-brand h1 {
    padding: .5rem 0 .5rem .5rem;
    color: #FFFFFF;
    font-size: 2.5rem;
}

.navbar-link-wrapper {
    padding: 0.5rem 0 0.5rem 0;
}

a.navbar-link {
    color: #FFFFFF;
    font-size: 1rem;
    padding-left: 0.5rem;
}