/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default */

.flag-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
}

.flag-card {
    box-sizing: border-box;
    background-color: white;
    border-radius: 2px;
    width: 100%;
    margin-top: 2em;
    
    /* Properties for nested child flexbox */
    display: flex;
    flex-direction: column;
}

.flag-card-title {
    min-height: calc(1em * 2 + 0.5em);
    margin: 0 0 1em 0;
}

.flag-img {
    max-width: 100%;
    height: auto;
    margin-bottom: .5em;
}

.flag-citation-control {
    margin-top: auto;
    background-color: white;
    border: none;
    padding-bottom: 0.5em;
    text-align: left;
}

.javascript-required-message {
    position: relative;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;

    
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .flag-card {
        width: 49%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .flag-card {
        width: 32%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}



